
// spacing
$small-spacing: 5px;
$medium-spacing: 10px;
$large-spacing: 20px;

// colors
$primary-blue: #00a1e0;
$primary-orange: #EC6F31;
$primary-white: #FFFFFF;
$primary-grey: #8B9095;
$primary-red: #DF4F50;
$primary-green: #4BA681;
$secondary-red: #E25A2C;
