<div class="transaction-list-wrapper">
  <div class="transaction-list-header">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upc"
      viewBox="0 0 16 16">
      <path
        d="M3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z" />
    </svg>
    <div class="transaction-list-header-title">
      <strong>Transaction </strong> List
    </div>
  </div>

  <div class="transaction-list-body p-20">
  
    <app-filter (inputChange)="filterTransactions($event)"></app-filter>

    <div class="transactions-wrapper">

      <app-transaction-item [transaction]="transaction" *ngFor="let transaction of tempTransactions; let i = index;">
      </app-transaction-item>

    </div>
  </div>

  <div class="transaction-list-footer">

  </div>
</div>